<div>
    <div class="container-fluid">
        <span class="row">
        </span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="row"></span>
        <span class="col-sm-3"></span>
        <div class="col-sm-2">
            <div class="panel">
                <a style="color:black;" href="#!staffLogin">
                    <img src="public/images/a.png" height="200" width="200">
                    <center>
                        <h3>Staff</h3>
                    </center>
                </a>
            </div>
        </div>
        <span class="col-sm-1"></span>
        <div class="col-sm-2">
            <div class="panel">
                <a style="color:black;" href="#!studentLogin">
                    <img src="https://image.flaticon.com/icons/png/512/67/67902.png" height="200" width="200">
                    <center>
                        <h3>Student</h3>
                    </center>
                </a>
            </div>
        </div>
        <span class="col-sm-3"></span>

    </div>
</div>