<div style="color:white">
    <div class="container-fluid">
        <span class="row"></span>
        <span class="row"></span>
        <span class="col-sm-2"></span>
        <div class=" col-sm-8">
            <span class="row"></span>

            <span class="row"></span>
            <span class="row"></span>

            <div>
                <div class="col-sm-12">
                    <span class="col-sm-12">
                        <font style="font-size:50px;font-family: 'Open Sans Condensed', sans-serif;">Welcome to the Miracle library.

                            <br> The smartest way to organise your miracle library books
                        </font>
                    </span>
                </div>
            </div>
            <span class="row"></span>
            <span class="row"></span>
            <div class="col-sm">
                <span class="col-sm-4"></span>
                <button onclick="window.location='#!about'" class="button button1 ">Learn More</button>

                <button onclick="window.location='#!login'" class="button button1 ">Login</button>
            </div>
        </div>
        <span class="col-sm-2 "></span>
        <span class="row "></span>
    </div>
</div>